/* Color palette variables */
:root {
    --beaver: #2C2121;
    --beaverligt: #533F3C;
    --licorice: #171717;
    --coffee: #4C4139;
    --silver: #EDEDED;
    --whiteish:#DDDADA;
}

/* Larger screen styling */
@media (min-width: 640px) {

    /* Flex Navigation for Larger Screens */
    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        background-color: var(--beaver);
        border-radius: 10px;

    }

    nav ul li {
        flex: 1;
    }

    nav a {
        display: block;
        color: var(--whiteish); /* white text for navigation links */
        padding: 10px;
        text-decoration: none;
    }
    
    nav a:hover {
        border: 1px solid var(--whiteish); 
    }

    /* Center the main element */
    main {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 0;
    }

    /* CSS Grid for the section layout */
    .grid-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;  /* Learning Activities 2x larger than Information */
        gap: 2rem;  /* Space between the two boxes */
        align-items: stretch;  /* Make both boxes the same height */
    }

    /* Full width title box */
    .title-box {
        background-color: var(--beaver); 
        padding: 0.5rem;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        color: var(--whiteish); 
        font-size: 2.5rem;
        font-family: "Roboto", system-ui;
        font-weight: 400;
        font-style: normal;
        margin-top: 1.5rem;
    }

    /* Box styling */
    section.card {
        padding: 1rem;
        background-color: var(--whiteish); 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        text-align: left;
        color: var(--licorice); /* Dark text for card content */
        justify-content: space-between;
        margin-bottom: 1.5rem; /* Adds space between sections */
        font-weight: 500;
        
    }
    
    section.card h2 {
        background-color: var(--beaverligt); /* Background for the card title */
        color: var(--whiteish); /* Contrasting text color for the title */
        padding: 0.5rem;
        margin-top: -1rem; 
        margin-left: -1rem;
        margin-right: -1rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; /* Rounded top corners */
        text-align: center; /* Center the title text */
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Light shadow for the title */
    }

    /* Footer adjustments */
    footer {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        background-color: var(--coffee); /* Coffee background for footer */
        color: var(--whiteish); /* White text */
    }

    footer p {
        margin: 0;
    }
}
